In [35]:
import pandas as pd

In [36]:
tabela = pd.read_csv('datatran2025.csv', sep=';')

In [37]:
print(tabela.info())
print(tabela.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34705 entries, 0 to 34704
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      34705 non-null  float64
 1   data_inversa            34705 non-null  object
 2   dia_semana              34705 non-null  object
 3   horario                 34705 non-null  object
 4   uf                      34705 non-null  object
 5   br                      34705 non-null  int64
 6   km                      34705 non-null  object
 7   municipio               34705 non-null  object
 8   causa_acidente          34705 non-null  object
 9   tipo_acidente           34705 non-null  object
 10  classificacao_acidente  34704 non-null  object
 11  fase_dia                34705 non-null  object
 12  sentido_via             34705 non-null  object
 13  condicao_metereologica  34705 non-null  object
 14  tipo_pista              34705 non-null  object
 15  tracado_via             34705 non-null  object
 16  uso_solo                34705 non-null  object
 17  pessoas                 34705 non-null  int64
 18  mortos                  34705 non-null  int64
 19  feridos_leves           34705 non-null  int64
 20  feridos_graves          34705 non-null  int64
 21  ilesos                  34705 non-null  int64
 22  ignorados               34705 non-null  int64
 23  feridos                 34705 non-null  int64
 24  veiculos                34705 non-null  int64
 25  latitude                34705 non-null  object
 26  longitude               34705 non-null  object
 27  regional                34705 non-null  object
 28  delegacia               34697 non-null  object
 29  uop                     34692 non-null  object
dtypes: float64(1), int64(9), object(20)
memory usage: 7.9+ MB
None
id                         0
data_inversa               0
dia_semana                 0
horario                    0
uf                         0
br                         0
km                         0
municipio                  0
causa_acidente             0
tipo_acidente              0
classificacao_acidente     1
fase_dia                   0
sentido_via                0
condicao_metereologica     0
tipo_pista                 0
tracado_via                0
uso_solo                   0
pessoas                    0
mortos                     0
feridos_leves              0
feridos_graves             0
ilesos                     0
ignorados                  0
feridos                    0
veiculos                   0
latitude                   0
longitude                  0
regional                   0
delegacia                  8
uop                       13
dtype: int64

In [38]:
print(tabela['causa_acidente'].value_counts())

causa_acidente
Ausência de reação do condutor                               5320
Reação tardia ou ineficiente do condutor                     5151
Acessar a via sem observar a presença dos outros veículos    3342
Condutor deixou de manter distância do veículo da frente     2112
Velocidade Incompatível                                      1997
                                                             ...
Faróis desregulados                                             4
Modificação proibida                                            4
Redutor de velocidade em desacordo                              4
Sistema de drenagem ineficiente                                 2
Sinalização encoberta                                           1
Name: count, Length: 69, dtype: int64

In [40]:
# Locais de Principais Ocorrências de Acidentes
# Acidentes por UF (estado)
print(tabela['uf'].value_counts())

# Acidentes por município
print(tabela['municipio'].value_counts())

# Acidentes por dia da semana
print(tabela['dia_semana'].value_counts())

# Acidentes por horário (faixa horária)
print(tabela['horario'].str[:2].value_counts())

uf
MG    4447
SC    3908
PR    3633
RJ    3067
RS    2462
SP    2278
BA    2048
GO    1495
PE    1398
MT    1293
ES    1282
PB    1032
MS     795
RN     753
CE     704
RO     692
PI     673
MA     531
DF     479
PA     475
AL     325
TO     324
SE     278
AC     120
RR      74
AP      74
AM      65
Name: count, dtype: int64
municipio
BRASILIA           479
DUQUE DE CAXIAS    392
GUARULHOS          388
SAO JOSE           334
CURITIBA           321
                  ...
CALUMBI              1
RIBEIRAO DO SUL      1
SAMBAIBA             1
VICENTINA            1
CRUZEIRO DO SUL      1
Name: count, Length: 1708, dtype: int64
dia_semana
domingo          5478
sábado           5420
sexta-feira      5311
segunda-feira    5063
quarta-feira     4664
quinta-feira     4588
terça-feira      4181
Name: count, dtype: int64
horario
18    2565
17    2338
19    2240
07    2192
16    1922
08    1838
15    1781
20    1602
14    1600
06    1531
13    1505
11    1503
09    1495
12    1487
10    1475
21    1352
22    1112
05    1051
23     870
04     768
00     705
01     644
03     604
02     525
Name: count, dtype: int64

In [49]:
# Classificação dos acidentes
print(tabela['classificacao_acidente'].value_counts())


# Mortos e feridos leves por tipo de acidente
resultado = tabela.groupby('tipo_acidente')[['mortos', 'feridos_leves']].sum()
print(resultado)

classificacao_acidente
Com Vítimas Feridas    26913
Sem Vítimas             5297
Com Vítimas Fatais      2494
Name: count, dtype: int64
                                mortos  feridos_leves
tipo_acidente
Atropelamento de Animal             31            519
Atropelamento de Pedestre          438            743
Capotamento                         44            739
Colisão com objeto                 168           1946
Colisão frontal                    906           2150
Colisão lateral mesmo sentido      108           3372
Colisão lateral sentido oposto     128            985
Colisão transversal                205           4272
Colisão traseira                   314           6118
Derramamento de carga                1             25
Engavetamento                       15            687
Eventos atípicos                    15            105
Incêndio                             0             30
Queda de ocupante de veículo        45           1678
Saída de leito carroçável          325           4352
Sinistro pessoal de trânsito         0              1
Tombamento                         142           2816

In [55]:
# Total de mortos e feridos em acidentes com álcool
print(tabela['mortos'].value_counts())
print(f'Total: {0}',tabela['mortos'].value_counts().sum())

mortos
0    32211
1     2223
2      200
3       46
4       12
5        9
9        2
6        1
7        1
Name: count, dtype: int64
Total: 0 34705